<div class="card shadow justify-content-center">
  <app-login-form class="mb-2" *ngIf="getIsLogin"></app-login-form>
  <app-register-form class="mb-2" *ngIf="!getIsLogin"></app-register-form>
</div>
<button
  (click)="switchBetweenLoginAndRegister()"
  class="btn btn-danger w-25 m-2"
>
  Go to {{ getButtonText }}
</button>
