<nav class="navbar bg-dark fixed-top">
  <div class="justify-content-evenly w-50">
    <ul class="nav ms-2 nav-pills nav-fill">
      <li class="nav-item active me-2">
        <a
          class="nav-link btn border text-light"
          routerLink="/catalogue"
        >
          Catalogue
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link border btn text-light"
          routerLink="/trainer"
        >
          Trainer
        </a>
      </li>
    </ul>
  </div>
  <button
    *ngIf="trainerId > 0"
    class="btn btn-danger me-2"
    (click)="onLogoutClick()"
  >
    Logout
  </button>
</nav>
