<main class="container">
  <h1>Login</h1>
  <form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
    <fieldset class="mb-2">
      <label for="username" class="form-label">Username *</label>
      <input
        type="text"
        ngModel
        #username="ngModel"
        name="username"
        placeholder="What is your name?"
        class="form-control"
        minlength="3"
        required
      />
    </fieldset>

    <!-- Errors section -->
    <div
      class="alert alert-danger"
      id="usernameErrors"
      *ngIf="username.invalid && (username.touched || username.dirty)"
    >
      <div *ngIf="username.errors">
        <p class="mb-0" *ngIf="username.errors['required']">
          Username is required
        </p>
        <p class="mb-0" *ngIf="username.errors['minlength']">
          Username is too short (3)
        </p>
      </div>
    </div>

    <button
      class="btn btn-warning mb-0"
      [disabled]="loginForm.invalid || isLoading"
    >
      Login
    </button>
    <!-- Login errors -->
    <div *ngIf="loginError" class="alert alert-danger mt-3">
      <span>{{ loginError }}</span>
    </div>
  </form>
</main>
