
.pokemon-list-item {
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

.sprite {
    max-width: 33%;
    width: fit-content;
    height: fit-content;
    display: block;
    margin-left: 1em;
}

.mid-container {
    max-width: 40%;
}

.caught-icon {
    height: 24px;
    margin-right: 0.5em;
}