<li
  *ngIf="pokemon"
  class="border border-dark border-3 p-0 bg-danger rounded-pill py-3 pokemon-list-item"
>
  <div class="row">
    <img
      src="{{ pokemonImageUrl }}"
      alt="{{ pokemon.name + ' sprite' }}"
      (click)="onPokemonClick()"
      class="col sprite p-1 align-self-center bg-opacity-25 bg-light rounded-circle border border-light"
    />

    <div class="col align-self-center mid-container">
      <p class="m-0 mb-3 text-capitalize h6 px-1">{{ pokemon.name }}</p>
      <button class="btn btn-light" (click)="onCatchReleaseClick()">
        <p class="h6 p-0 m-0">
          {{ buttonText }}
        </p>
      </button>
    </div>

    <img
      *ngIf="pokemon.caught"
      src="https://img.icons8.com/external-those-icons-lineal-color-those-icons/24/000000/external-pokeball-video-games-those-icons-lineal-color-those-icons.png"
      class="caught-icon col-auto align-self-center"
    />
  </div>
</li>
