<main class="container">
  <h1>Register</h1>
  <form #registerForm="ngForm" (ngSubmit)="onRegisterSubmit(registerForm)">
    <fieldset class="mb-3">
      <label for="username" class="form-label">Username *</label>
      <input
        type="text"
        ngModel
        #username="ngModel"
        name="username"
        placeholder="What is your name?"
        class="form-control"
        minlength="3"
        required
      />
    </fieldset>

    <!-- Errors section -->
    <div
      class="alert alert-danger"
      id="usernameErrors"
      *ngIf="username.invalid && (username.touched || username.dirty)"
    >
      <div *ngIf="username.errors">
        <p class="mb-0" *ngIf="username.errors['required']">
          Username is required
        </p>
        <p class="mb-0" *ngIf="username.errors['minlength']">
          Username is too short (3)
        </p>
      </div>
    </div>

    <!-- Register -->
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="registerForm.invalid || isLoading"
    >
      Register
    </button>

    <!-- Register error -->
    <div class="alert alert-danger mt-3" *ngIf="registerError">
      <span>{{ registerError }}</span>
    </div>
  </form>
</main>
