<div class="container">
  <p class="h3">Welcome {{ username }}!</p>
  <p class="h4" *ngIf="!caughtPokemonObj.length">
    Go to catalogue to catch some Pokémon!
  </p>
  <ul class="pokemon-list">
    <app-pokemon-item
      *ngFor="let pokemon of caughtPokemonObj"
      [pokemon]="pokemon"
    ></app-pokemon-item>
  </ul>
</div>
